<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 전화 권한 허용 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.EighteenAdult"
        tools:targetApi="31">

        <meta-data android:name="android.max_aspect" android:value="2.1" />

        <activity
            android:name="com.stac.eighteenadult.agency.AgencyBookmarkActivity"
            android:exported="false" />
        <activity
            android:name="com.stac.eighteenadult.agency.AgencyActivity"
            android:exported="false" />
        <activity
            android:name="com.stac.eighteenadult.entire.EntireActivity"
            android:exported="false" />
        <activity
            android:name="com.stac.eighteenadult.information.InformationDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.stac.eighteenadult.information.InformationActivity"
            android:exported="false" />
        <activity
            android:name="com.stac.eighteenadult.login.LoginMobileCarrierActivity"
            android:exported="false" />
        <activity
            android:name="com.stac.eighteenadult.login.LoginAgreeActivity"
            android:exported="false" />
        <activity
            android:name="com.stac.eighteenadult.login.QuestionActivity"
            android:exported="false" />
        <activity
            android:name="com.stac.eighteenadult.login.LoginSuccessActivity"
            android:exported="false" />
        <activity
            android:name="com.stac.eighteenadult.join.JoinFinalActivity"
            android:exported="false" />
        <activity
            android:name="com.stac.eighteenadult.join.JoinYNActivity"
            android:exported="false" />
        <activity
            android:name="com.stac.eighteenadult.join.JoinYYActivity"
            android:exported="false" />
        <activity
            android:name="com.stac.eighteenadult.join.JoinNActivity"
            android:exported="false" />
        <activity
            android:name="com.stac.eighteenadult.join.JoinYActivity"
            android:exported="false" />
        <activity
            android:name="com.stac.eighteenadult.join.JoinActivity"
            android:exported="false" />
        <activity
            android:name="com.stac.eighteenadult.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.stac.eighteenadult.BeginningActivity"
            android:exported="false" />
        <activity
            android:name="com.stac.eighteenadult.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.stac.eighteenadult.home.HomeActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCePh1N_ZbEBrzxAXFt5YtlA5wVhDp7TKY" />
    </application>

</manifest>